<section class="panel panel--{{ include.layout }}">
  {% for c in include.cells %}
    {% if c.type == "img" %}
      <figure class="item item--img"{% if c.style %} style="{{ c.style }}"{% endif %}>
        <img
          class="img"
          src="{{ c.src | relative_url }}"
          alt="{{ c.alt | escape }}"
          {% if c.attrs %}{{ c.attrs | strip }}{% endif %}>
        {% if c.caption %}
          <figcaption>{{ c.caption }}</figcaption>
        {% endif %}
      </figure>

    {% elsif c.type == "text" %}
      <div class="item item--text"{% if c.style %} style="{{ c.style }}"{% endif %}>
        {{ c.html | markdownify }}
      </div>
    {% endif %}
  {% endfor %}
</section>